.app__book-table,
.app__login-register {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.app__book-table {
  background-color: var(--color-bg-black);
}
.app__login-register {
  background-color: var(--color-bg-light);
  color: var(--color-white);
}
.app__login-register .login {
  background-color: var(--color-bg-login);
}
.app__book-table .app__book-table-div {
  background-color: var(--color-bg-dinning);
}
.app__book-table .app__book-table-div,
.app__login-register .login {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 70%;
  border-radius: 8px;
}
.app__book-table .app__book-table-div .book-table,
.app__login-register .login .form-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.app__login-register .login .form-content p span {
  color: var(--color-golden);
  cursor: pointer;
}
.app__book-table .app__book-table-div .book-table h2,
.app__login-register .login .form-content h2 {
  color: var(--color-golden);
  margin-bottom: 14px;
}
.app__book-table .app__book-table-div .book-table p,
.app__login-register .login .form-content p {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
.app__book-table .app__book-table-div form,
.app__login-register .login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.app__login-register .login form .inputs,
.app__book-table .app__book-table-div form .inputs {
  display: flex;
  flex-direction: column;
}

.app__book-table .app__book-table-div form .inputs {
  position: relative;
  width: 100%;
}
.app__book-table .app__book-table-div form div input {
  width: 100%;
}
.app__book-table .app__book-table-div form .inputs p {
  position: absolute;
  top: 13px;
  right: 12px;
  font-size: 17px;
  color: #a19f9fab;
}
.app__book-table .app__book-table-div img {
  width: 40%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.app__login-register .login img {
  width: 40%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.app__book-table .app__book-table-div form input,
.app__book-table .app__book-table-div form textarea,
.app__login-register .login form input {
  padding: 10px 8px;
}
.app__book-table .app__book-table-div form input:hover,
.app__login-register .login form input:hover {
  background-color: var(--color-bg-dark);
}
.app__login-register .login .form-content form span,
.app__book-table .app__book-table-div form span {
  font-size: 11px;
  letter-spacing: 1.5px;
  padding-top: 5px;
  color: var(--color-alert);
  display: flex;
}
form textarea,
form input {
  background-color: var(--color-bg-light);
  outline: none;
  border: 1px solid var(--color-bg-light);
  color: var(--color-grey);
  caret-color: var(--color-golden);
}
.app__book-table .app__book-table-div form .sub-div input {
  height: 41px;
}
.app__book-table .app__book-table-div form .sub-div {
  justify-content: space-between;
  gap: 10px;
}
::-ms-reveal {
  filter: invert(1);
}
::-webkit-calendar-picker-indicator {
  opacity: 0;
  font-size: 20px;
}

@media screen and (max-width: 1160px) {
  .app__book-table .app__book-table-div,
  .app__login-register .login {
    width: 65%;
    height: fit-content;
  }
  .app__book-table .app__book-table-div form .sub-div {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .app__book-table,
  .app__login-register {
    top: 60px;
  }
  .app__book-table .app__book-table-div,
  .app__login-register .login {
    width: 80%;
  }
  .app__book-table .app__book-table-div img,
  .app__login-register .login img {
    display: none;
  }
  .app__book-table .app__book-table-div .book-table,
  .app__login-register .login .form-content {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}
